<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Mini_games.Properties.Settings.UsersConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Uczelnia\semestr6\Inz oprog\Mini-games\BazaDanych\Users.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Mini_games.Properties.Settings.UsersConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;D:\Uczelnia\semestr6\Inz oprog\Mini-games\BazaDanych\Users.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Mini_games.Properties.Settings.UsersConnectionString2"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\mar31\source\repos\Game\BazaDanych\Users.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>